@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
}
html.opacity::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

body {
  height: 100%;
}

.container {
  height: -moz-max-content;
  height: max-content;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 80px;
  position: relative;
}
@media (max-width: 1580px) {
  .container {
    margin-right: 100px;
    margin-left: 100px;
  }
}
@media (max-width: 1340px) {
  .container {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 562px) {
  .container {
    padding-bottom: 80px;
  }
}

.header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 110px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 88%);
  justify-content: space-between;
}
@media (max-width: 562px) {
  .header {
    border-bottom: 0;
    height: 90px;
  }
}
.header section {
  -moz-column-gap: 60px;
       column-gap: 60px;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .header section {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 380px) {
  .header section {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 1340px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 562px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-left .logo {
  touch-action: none;
  cursor: pointer;
}
.header-left .menu-icon {
  touch-action: none;
  display: none;
}
@media (max-width: 705px) {
  .header-left .menu-icon {
    display: block;
  }
}
.header-left ul {
  display: flex;
  list-style: none;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-weight: 500;
  font-size: 15.5px;
  color: hsl(219, 9%, 45%);
}
@media (max-width: 900px) {
  .header-left ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 705px) {
  .header-left ul {
    display: none;
  }
}
.header-left ul li {
  cursor: pointer;
  transition: 0.1s;
}
.header-left ul li:hover {
  filter: brightness(50%);
  transition: 0.1s;
}

.header-right {
  position: relative;
}
.header-right .quantity-cart-div {
  position: absolute;
  top: 0;
  background-color: hsl(26, 100%, 55%);
  height: 16px;
  width: 24px;
  border-radius: 15px;
  top: 6px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5px;
}
@media (max-width: 562px) {
  .header-right .quantity-cart-div {
    top: 0px;
    width: 22px;
    height: 14px;
  }
}
.header-right .quantity-cart-div .quantity-cart {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  font-weight: 700;
}
@media (max-width: 562px) {
  .header-right .quantity-cart-div .quantity-cart {
    font-size: 11px;
  }
}
.header-right .quantity-cart-div:not(.active) {
  display: none;
}
.header-right button {
  border: 0;
  background-color: transparent;
}
.header-right .cart-icon {
  touch-action: none;
  padding: 8px;
  height: 38px;
  cursor: pointer;
  transition: 0.1s;
}
.header-right .cart-icon:hover {
  transition: 0.1s;
  filter: brightness(80%);
}
.header-right .avatar-icon {
  touch-action: none;
  height: 55px;
  cursor: pointer;
  transition: 0.1s;
}
.header-right .avatar-icon:hover {
  filter: brightness(80%);
  transition: 0.1s;
}
@media (max-width: 562px) {
  .header-right .avatar-icon {
    height: 35px;
  }
}

.main {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1580px) {
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1340px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
}
@media (max-width: 900px) {
  .main {
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding-left: 15px;
    padding-right: 20px;
  }
}
@media (max-width: 705px) {
  .main {
    padding-top: 50px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 562px) {
  .main {
    display: block;
    flex-direction: column;
    padding-top: 0;
    row-gap: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.main-left {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  max-width: 500px;
}
@media (max-width: 1000px) {
  .main-left {
    max-width: 350px;
  }
}
@media (max-width: 705px) {
  .main-left {
    max-width: 300px;
  }
}
@media (max-width: 562px) {
  .main-left {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}

.img-preview-section {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  position: relative;
}
.img-preview-section .control-btn-img-div-mobile {
  touch-action: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 42px;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  display: none;
}
.img-preview-section .control-btn-img-div-mobile img {
  height: 15px;
}
@media (max-width: 562px) {
  .img-preview-section .control-btn-img-div-mobile {
    display: flex;
  }
}
.img-preview-section .control-btn-img-div-prev-mobile {
  touch-action: none;
  left: 20px;
  padding-right: 3.5px;
}
.img-preview-section .control-btn-img-div-next-mobile {
  touch-action: none;
  right: 20px;
  padding-left: 3.5px;
}
.img-preview-section .img-preview {
  width: 100%;
  border-radius: 20px;
  display: none;
  cursor: pointer;
}
@media (max-width: 562px) {
  .img-preview-section .img-preview {
    border-radius: 0;
    width: 100%;
    max-height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
    pointer-events: none;
  }
}
.img-preview-section .img-preview.active {
  display: block;
}

.img-thumbnail-section {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-flex;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
@media (max-width: 562px) {
  .img-thumbnail-section {
    display: none;
  }
}
@media (max-width: 1000px) {
  .img-thumbnail-section {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 705px) {
  .img-thumbnail-section {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 15px;
  }
}
.img-thumbnail-section .img-thumbnail {
  cursor: pointer;
  height: 100px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 5px 20px hsl(26, 100%, 85%);
}
@media (max-width: 1000px) {
  .img-thumbnail-section .img-thumbnail {
    height: 80px;
  }
}
@media (max-width: 705px) {
  .img-thumbnail-section .img-thumbnail {
    height: 70px;
  }
}
.img-thumbnail-section .img-thumbnail.active {
  outline: 3px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}

.main-right {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  row-gap: 30px;
}
@media (max-width: 1340px) {
  .main-right {
    margin-right: 30px;
  }
}
@media (max-width: 1000px) {
  .main-right {
    margin-right: 0px;
    width: 100%;
  }
}
@media (max-width: 705px) {
  .main-right {
    row-gap: 20px;
  }
}
@media (max-width: 562px) {
  .main-right {
    margin-right: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.main-right .main-right-text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 1340px) {
  .main-right .main-right-text {
    row-gap: 15px;
  }
}
@media (max-width: 1000px) {
  .main-right .main-right-text {
    row-gap: 15px;
  }
}
.main-right .main-right-text h3 {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
.main-right .main-right-text h1 {
  font-size: 45px;
  line-height: 1;
  color: hsl(220, 13%, 13%);
  margin-bottom: 20px;
}
@media (max-width: 1340px) {
  .main-right .main-right-text h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
}
@media (max-width: 900px) {
  .main-right .main-right-text h1 {
    font-size: 33px;
    margin-bottom: 5px;
  }
}
@media (max-width: 705px) {
  .main-right .main-right-text h1 {
    font-size: 24px;
  }
}
@media (max-width: 562px) {
  .main-right .main-right-text h1 {
    font-size: 26px;
  }
}
.main-right .main-right-text p {
  color: hsl(219, 9%, 45%);
  line-height: 1.6;
}
@media (max-width: 900px) {
  .main-right .main-right-text p {
    font-size: 15px;
  }
}
.main-right .main-right-price .price-section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 562px) {
  .main-right .main-right-price .price-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.main-right .main-right-price .price-section .price-actual {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.main-right .main-right-price .price-section .price-actual span {
  font-size: 30px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
.main-right .main-right-price .price-section .price-actual p {
  width: -moz-max-content;
  width: max-content;
  background-color: hsl(25, 100%, 94%);
  height: 28px;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
}
.main-right .main-right-price .price-section .price-sale {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}
.main-right .cart-section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 12px;
       column-gap: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 55px;
}
@media (max-width: 705px) {
  .main-right .cart-section {
    flex-direction: column;
    height: 120px;
    row-gap: 15px;
  }
}
@media (max-width: 562px) {
  .main-right .cart-section {
    height: 55px;
    flex-direction: row;
  }
}
@media (max-width: 380px) {
  .main-right .cart-section {
    flex-direction: column;
    height: 120px;
  }
}
.main-right .cart-section .quantity-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 170px;
  background-color: hsl(223, 64%, 98%);
  border-radius: 8px;
}
@media (max-width: 705px) {
  .main-right .cart-section .quantity-div {
    width: 100%;
  }
}
@media (max-width: 562px) {
  .main-right .cart-section .quantity-div {
    width: 220px;
  }
}
@media (max-width: 380px) {
  .main-right .cart-section .quantity-div {
    width: 100%;
  }
}
.main-right .cart-section .quantity-div button {
  background-color: transparent;
  border: 0;
  font-family: "Kumbh Sans", sans-serif;
}
.main-right .cart-section .quantity-div img {
  touch-action: none;
  cursor: pointer;
  padding: 5px;
}
.main-right .cart-section .quantity-div span {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
.main-right .cart-section .submit-div {
  touch-action: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  background-color: hsl(26, 100%, 55%);
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px hsl(26, 100%, 80%);
  cursor: pointer;
  transition: 0.1s;
  border: 0;
  font-family: "Kumbh Sans", sans-serif;
}
.main-right .cart-section .submit-div span {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.main-right .cart-section .submit-div img {
  filter: brightness(1000%);
  height: 18px;
}
.main-right .cart-section .submit-div:hover {
  filter: brightness(120%);
  transition: 0.1s;
}

.menu {
  width: 250px;
  padding: 30px;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  z-index: 999;
  transition: 0.2s ease-out;
  opacity: 1;
}
.menu ul {
  list-style: none;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: 18px;
}
.menu ul li {
  cursor: pointer;
}
.menu img {
  width: -moz-max-content;
  width: max-content;
  height: 20px;
  cursor: pointer;
}
.menu:not(.active) {
  transform: translate(-100%);
  opacity: 0;
  transition: 0.2s ease-out;
}

.photo-fullscreen {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 998;
  left: 50%;
  transform: translate(-50%);
  padding-top: 50px;
}
@media (max-width: 562px) {
  .photo-fullscreen {
    display: none;
  }
}
.photo-fullscreen:not(.active) {
  display: none;
}
.photo-fullscreen .img-section-fullscreen {
  display: flex;
  align-items: center;
}
.photo-fullscreen .close-section-fullscreen {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.photo-fullscreen .close-section-fullscreen .close-fullscreen-btn {
  cursor: pointer;
  height: 28px;
  filter: brightness(999%);
  width: -moz-max-content;
  width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 999;
}
.photo-fullscreen .img-preview-fullscreen {
  width: 500px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}
.photo-fullscreen .img-preview-fullscreen:not(.active) {
  display: none;
}
.photo-fullscreen .control-btn-img {
  height: 18px;
  width: -moz-max-content;
  width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
  touch-action: none;
}
.photo-fullscreen .control-btn-img-div {
  touch-action: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 52px;
  cursor: pointer;
}
.photo-fullscreen .control-btn-previous {
  left: -26px;
  padding-right: 3px;
}
.photo-fullscreen .control-btn-next {
  right: -26px;
  padding-left: 3px;
}
.photo-fullscreen .thumbnail-section-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 30px;
}
.photo-fullscreen .thumbnail-section-fullscreen .img-thumbnail-fullscreen {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}
.photo-fullscreen .thumbnail-section-fullscreen .img-thumbnail-fullscreen.active {
  outline: 3px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}

.basket-container {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 350px;
  height: 260px;
  border-radius: 10px;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  right: 0px;
  top: 105px;
  z-index: 3;
  box-shadow: 0px 5px 20px hsla(20, 3%, 78%, 0.85);
}
@media (max-width: 1340px) {
  .basket-container {
    right: 30px;
  }
}
@media (max-width: 562px) {
  .basket-container {
    top: 95px;
    width: 95%;
    height: 230px;
    left: 50%;
    transform: translate(-50%);
  }
}
.basket-container h4 {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-bottom: 1px solid hsl(220, 14%, 88%);
  color: hsl(220, 13%, 13%);
}
@media (max-width: 562px) {
  .basket-container h4 {
    height: 60px;
  }
}
.basket-container h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 70px);
  font-size: 16px;
  color: hsl(219, 9%, 45%);
}
.basket-container h3:not(.active) {
  display: none;
}
.basket-container .filled-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 70px);
  padding: 20px;
  padding-bottom: 25px;
}
@media (max-width: 562px) {
  .basket-container .filled-cart {
    padding-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .basket-container .filled-cart {
    padding-bottom: 10px;
  }
}
.basket-container .filled-cart .cart-bill-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket-container .filled-cart .cart-bill-section .product-img {
  height: 50px;
  border-radius: 5px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.basket-container .filled-cart .cart-bill-section .cart-bill-delete-btn {
  height: 16px;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
.basket-container .filled-cart .cart-bill-section .cart-bill-section-text {
  display: flex;
  align-items: center;
  row-gap: 5px;
}
.basket-container .filled-cart .cart-bill-section .cart-bill-section-text h5, .basket-container .filled-cart .cart-bill-section .cart-bill-section-text span {
  font-size: 15.5px;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
}
@media (max-width: 380px) {
  .basket-container .filled-cart .cart-bill-section .cart-bill-section-text h5, .basket-container .filled-cart .cart-bill-section .cart-bill-section-text span {
    font-size: 14.5px;
  }
}
.basket-container .filled-cart .cart-bill-section .cart-bill-section-text span {
  letter-spacing: 0.7px;
}
.basket-container .filled-cart .cart-bill-section .cart-bill-section-text b {
  letter-spacing: 0.7px;
  margin-left: 7px;
  color: hsl(220, 13%, 13%);
}
@media (max-width: 380px) {
  .basket-container .filled-cart .cart-bill-section .cart-bill-section-text b {
    font-size: 14.5px;
  }
}
.basket-container .filled-cart .cart-bill-section .cart-bill-section-text-mid {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.basket-container .filled-cart .cart-checkout-section button {
  background-color: hsl(26, 100%, 55%);
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
@media (max-width: 562px) {
  .basket-container .filled-cart .cart-checkout-section button {
    height: 50px;
  }
}
.basket-container .filled-cart .cart-checkout-section button:hover {
  filter: brightness(120%);
  transition: 0.1s;
}
.basket-container .filled-cart .cart-checkout-section span {
  font-size: 15px;
  color: hsl(0, 0%, 100%);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
}
.basket-container .filled-cart:not(.active) {
  display: none;
}
.basket-container:not(.active) {
  display: none;
}/*# sourceMappingURL=style.css.map */